profiles{
    gls {
    process.executor = 'google-lifesciences'
    workDir = 'gs://mhra-ngs-dev-0yzc-nextflow/testing-work'
    google.location = 'europe-west2'
    google.region  = 'europe-west2'
    google.project = 'mhra-ngs-dev-0yzc'
    google.lifeSciences.network = "mhra-ngs-dev-0yzc-network"
    google.lifeSciences.serviceAccountEmail="nextflow-vm@mhra-ngs-dev-0yzc.iam.gserviceaccount.com"
    google.lifeSciences.subnetwork = 'mhra-ngs-dev-eu-west2-1'
    google.lifeSciences.preemptible = 'true'
    process.publishDir = 'gs://mhra-ngs-dev-0yzc-nextflow/output/'
    }
}
trace {
  enabled = true
  file = "pipeline_execution_trace.txt"
  fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,syscr,syscw,read_bytes,write_bytes'
}
tower {
  enabled = true
  accessToken = 'eyJ0aWQiOiA0Njc0fS5lMGI1NDg5NGJlYTExOWVhZmY3YzU4ZDhmYmUwMDA4NWRlYTZiMDJl'
}
params {
  max_memory = 100.GB
  max_time = 240.h
  singleCPUMem = 6.5.GB
}

process {
  // default machine type
  machineType = 'n1-standard-4'
  
  withName:WaitBoot {
  memory = 50.GB
  google.lifeSciences.bootDiskSize = 100.GB
  }
  
  withName:WaitDisk {
  memory = 25.GB
  disk = '200 GB'
  }
}
